@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

* {
    --red:hsl(1, 90%, 64%);
    --blue:hsl(219, 85%, 26%);

    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);

    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

body {
    min-height: 100vh;
}

header, main, footer {
    margin: 0.5em;
}

.notif-container {
    display: flex;
    justify-content: space-between;
}

.notif-header {
    display: flex;
    align-items: center;
}  

.notif-header > h1, .notif-header > span {
    font-weight: 800;
    font-size: 1.25rem;
}

.notif-container > button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--grayish-blue);
    font-size: 0.9rem;
}

.notif-counter {
    background-color: var(--blue);
    color: var(--very-light-grayish-blue);
    margin: 0 0.5em;
    padding: 0.25em 0.75em;
    border-radius: 8px;
}

.read {
    background-color: var(--very-light-grayish-blue);
}

.marker {
    display: inline-block;
    background: var(--red);
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.feed-block {
    display: flex;
    align-items: center;
    margin: 0.75em 0;
    gap: 10px;
    border-radius: 15px;
    padding: 0.5em 1em;
    color: var(--dark-grayish-blue);
}

.feed-img {
    max-width: 45px;
}

.feed-content {
    margin: 0.25em 0 0.25em 0.5em;
}

.feed-post-name {
    color: var(--very-dark-blue);
    font-weight: 800;
}

.feed-post-link {
    color: var(--dark-grayish-blue);
    font-weight: 700;
}

.feed-post-group {
    color: var(--blue);
    font-weight: 700;
}

.feed-dm {
    margin-top: 1em;
    border-radius: 5px;
    border: 1px solid var(--light-grayish-blue-2);
    padding: 1em;
}

.feed-duration {
    color: var(--grayish-blue);
    margin: 0.25em 0 0 0;
}

.attribution { 
    margin: 1em;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    font-size: 11px;
    color: hsl(228, 45%, 44%); 
 }